# MkDocs build output
site/

# General temp folder
temp

# Python
**/__pycache__
**/*.pyc
**/*.pyo

# firmware build outputs abd Kconfig backup
/firmware/build
/firmware/Kconfig.bak

# Machine-local CMake preset overrides
CMakeUserPresets.json
