[submodule "nrf_firmware/tinyusb"]
	path = nrf_firmware/tinyusb
	url = https://github.com/hathach/tinyusb.git
	branch = master
[submodule "rw612_firmware/tinyusb"]
	path = rw612_firmware/tinyusb
	url = https://github.com/hathach/tinyusb.git
	branch = master
