# ESP-IDF paths
/build
/managed_components
/dependencies.lock

# Local configuration files
/sdkconfig
/sdkconfig.old

# Binary files and build artifacts
*.bin
*.elf
*.map
*.a
*.o

# Python cache
__pycache__/
*.pyc

# IDE and editor specific files
.vscode/
.history/
.idea/
*.DS_Store

# Log and report files from testing tools
/pytest_embedded_log/
/build_summary_*.xml
/app_info_*.txt
/size_info_*.txt