/*
 * Copyright (c) 2025 FlexAudioLink
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 * Board overlay for nRF54LM20-DK radio test.
 * Currently empty - using default board configuration.
 * Add I2S/USB pin definitions here when needed.
 */